<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        {{! Document Settings }}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

        {{! Page Meta }}
        <title>{{{meta_title}}}</title>
        <meta name="description" content="{{meta_description}}" />
        <meta name="viewport" content="width=device-width">

        {{! Styles'n'Scripts }}
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{asset "css/bootstrap.min.css"}}">
        <link rel="stylesheet" href="{{asset "css/font-awesome.min.css"}}">
        <link rel="stylesheet" href="{{asset "css/main.css"}}">
        <script src="/assets/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>

        {{! Ghost outputs important style and meta data with this tag }}
        {{ghost_head}}

    </head>
    <body class="{{body_class}}">

        {{! This is to encourage our IE friends to improve their experience }}
        <!--[if lt IE 9]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        {{! The header nav is present on all pages, so we'll include it here }}
        {{> header-nav}}
        
        {{! Everything else gets inserted here }}
        <main id="page-container">
            {{{body}}}
        </main>

        {{! Ghost outputs important scripts and data with this tag }}
        {{ghost_foot}}

        {{! Here we try to load the hosted jQuery, if it fails we'll fallback to a local version }}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

        {{! There are the libraries used in GateKeeper }}
        <script type="text/javascript" src="/assets/js/vendor/jquery.fitvids.js"></script>
        <script type="text/javascript" src="/assets/js/vendor/html2canvas.js"></script>
        <script type="text/javascript" src="/assets/js/vendor/StackBlur.js"></script>
        <script type="text/javascript" src="/assets/js/vendor/jquery.ghostHunter.min.js"></script>
        <script type="text/javascript" src="/assets/js/skrollr.min.js"></script>

        {{! The main JavaScript file for GateKeeper }}
        <script src="/assets/js/main.js"></script>

  </body>
</html>